packages:
  yum:
    amazon-efs-utils: []

commands:
  01_mount_efs:
    command: |
      set -ex

      EFS_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k EFS_ID_PROD_MACHINERY)

      mkdir -p /mnt/efs

      mount -t efs -o tls ${EFS_ID}:/ /mnt/efs

      mount | grep efs

      ls -la /mnt/efs

files:
  "/etc/php.d/99-custom.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 64M
      post_max_size = 64M
      memory_limit = 256M
      max_execution_time = 300

container_commands:
  01_update_php_fpm:
    command: |
      sed -i 's/^pm =.*/pm = ondemand/' /etc/php-fpm.d/www.conf
      sed -i 's/^pm.max_children.*/pm.max_children = 9/' /etc/php-fpm.d/www.conf
      sed -i 's/^pm.process_idle_timeout.*/pm.process_idle_timeout = 10s/' /etc/php-fpm.d/www.conf
      sed -i 's/^pm.max_requests.*/pm.max_requests = 500/' /etc/php-fpm.d/www.conf
      systemctl restart php-fpm